
    <div class="maindiv">
        
        <div class="datadiv">
          <h1 style="font-size:80px;color:whitesmoke">Tex Management</h1>
         <h1 >"When money realizes that it is in good hands,<br> it wants to stay and multiply in those hands"</h1>
         <h4 style="color:rgb(163, 163, 91)">Idowu Koyenika</h4>
        </div>
        <div class="prcidediv">
          <h1  style="color:rgb(211, 211, 26)">Stert here</h1>
           <button class="mybutton" routerLink="/login">Login</button><br><br>
           <button class="mybutton" routerLink="/signup">Sign up</button>
           <br><br>
           <a style="color:rgb(91, 26, 211)"><b>forget password ?</b></a><br>
           <a style="color:rgb(91, 26, 211)"><b>Help ?</b></a>
        </div>
      </div>
     
      

