
<div class="maindiv">
    <div class="main" style="display:flex">
        <div class="massage">
            <h1 style="font-size: 50px;">            
                Taxation is the price which civilized communities pay for the opportunity of remaining civilized.
            </h1>
            <h3><b>Albert Bushnell Hart</b></h3>
        </div>
        <div class="loginbox">
            <h1 style="color: blueviolet;">Login here</h1><br>
            <input type="text" #email class="myinput" placeholder="  Email"><br><br>
            <input type="text" #password class="myinput" placeholder="  Password"><br><br>
            <button class="mybutton" (click)="getData(email.value,password.value)">Sumbit</button>
    
    
        </div>
    </div>
    
    
</div>

